/.idea
/.vs
/_ReSharper.Caches
/Binaries
/Build/WindowsNoEditor
/Intermediate
/Plugins/*/Binaries
/Plugins/*/Intermediate
/Saved
/WindowsNoEditor

/Plugins/Developer/RiderLink

*.exe
*.exp
*.lib
*.patch_*
*.pdb
*.sln
*.target
*.user
